*{
	padding:0;
	margin:0;
}
#brand_header{
	height:42px;
	position:relative;
}
#brand_nav{
	list-style: none;

}
#brand_nav li{background: #fafafa;
	position:absolute;
	top:0;
	width:25%;
	text-align:center;
	float:left;
	height:40px;
	line-height: 40px;
	border-left: 1px solid #ccc;
}
#brand_nav li:first-child{
	border: none;
}
#brand_header, #under_line, #sites {
	transition: transform 0.4s linear;
	-webkit-transition: -webkit-transform 0.4s linear;
}
#under_line{
	height:2px;
	background:#f11c4a;
	position: absolute;
	bottom:0px;
	width:25%;
}
#brand_body{
	position:absolute;
	top:235px;
	bottom:41px;
	width:100%;
	overflow: hidden;
}
#sites{
	height:100%;
	position: relative;
}
.site{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
}
.site iframe{
	width:100%;
	height:100%;
	border:none;
}