
@charset "utf-8";
/* 清除默认样式 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
button,article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark,
audio, video , input , textarea ,select{
     margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
button{background: transparent;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
html{
    line-height: initial;
}
body{
    font-size: 0.24rem;
    background-color: #f7f7f7;
    box-sizing: border-box;	          /*内边距和边框不再会增加它的宽度*/
}
a {
	text-decoration: none;
  color: #2c2c2c;
}
input{
	outline: none;
	border: none;
}
body,button,input,select,textarea{font:14px/1.6 'Microsoft YaHei',微软雅黑,'MicrosoftJhengHei',STHeiti,'LiHei Pro Medium',华文雅黑;color:#2c2c2c;}
/*清除浮动 -- 减少浏览器渲染负担 -- 推荐*/
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}

.fl{
	float: left;
}
.fr{
	float: right;
}

@font-face {
  font-family: 'iconfont';  /* project id 361819 */
  src: url('//at.alicdn.com/t/font_361819_rjlug9cibhfzjjor.eot');
  src: url('//at.alicdn.com/t/font_361819_rjlug9cibhfzjjor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_361819_rjlug9cibhfzjjor.woff') format('woff'),
  url('//at.alicdn.com/t/font_361819_rjlug9cibhfzjjor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_361819_rjlug9cibhfzjjor.svg#iconfont') format('svg');
}
.icon{
	font-family: 'iconfont';
}

/*公共样式*/
.box{
  position: relative;
  max-width: 10rem;
  margin: 0 auto;
}
.bton{
  border-bottom: 0.03rem solid #fb544c;
}
/*单行省略*/
.ahsl{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
/*多行省略*/
.bhsl{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*上拉加载*/
.zuihou {
    width: 100%;
    height: 1rem;
    color: #000;
    line-height: 1rem;
    text-align: center;
    font-size: 0.24rem;
}
.jszh1,.jszh2{
  display: none;
}
.zuihou img{
  width: 0.3rem;
  height: 0.3rem;
  vertical-align: middle;

}

/*公共顶部*/
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.public-top{
  width: 100%;
  height: 1rem;
  background-color: #fff;
  border-bottom: 0.01rem solid #e7e7e7;
  padding: 0 0.25rem;
}
.public-top a{
  display: block;
  width: 0.4rem;
  height: 1rem;
}
.public-top a span{
  font-size: 0.4rem;
  width: 100%;
  height: 100%;
  color: #000;
  display: block;
  line-height: 1rem;
}
.public-top p{
  width: 2rem;
  height: 1rem;
  margin-left: 2.1rem;
  float: left;
  text-align: center;
  line-height: 1rem;
  font-size: 0.32rem;
  color: #333;
}

/*底部导航*/
.footer{
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
}
.nav{
  width: 100%;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.01rem solid #e7e7e7;
  background: #fff;
}
.navLink {
  height: 1rem;
  font-size: 0.28rem;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  color: #000;
}
.navLink span:nth-of-type(1){
  font-size: 0.4rem;
  text-align: center;
  margin-bottom: 0.05rem;
}

.navLink.active {
  color: #f24702;
}