	/*头部*/
	.header{height: 76px;width: 100%;background-color: #ffffff;}
	.logo{margin-top: 19px;}
	.fon{width: 804px;}
	.fon ul{right: 0px;top: 0px;}
	.fon li{float: right;padding: 0 20px;font-size: 15px;color: #000000;height: 76px;line-height: 76px;cursor: pointer;}
	.fon li a{color: #000;}
	.fon li.on{width: 70px}
	.tcl{height: 74px;border-top: 2px solid #f14702;width: 100px;right: 0px;top: 0px;box-shadow:0px -3px 6px rgba(0,0,0,0.1);-webkit-box-shadow:0px -3px 6px rgba(0,0,0,0.1);-moz-box-shadow:0px -3px 6px rgba(0,0,0,0.1);cursor: pointer;} 
	.hot{position: absolute;right: 6px;top: 20px;}


	.imgFocusOper{position:absolute; bottom:32px;text-align: center;width: 100%;}
	.imgFocusOper span{display: inline-block;height:10px;background: #5d6161;margin: 0 4px ;overflow: hidden;}
	.imgFocusOper span.on{border: 2px solid #f14702;width: 7px;height: 7px;background: none;}
	.imgFocusOper span{width:10px;height:10px;overflow: hidden;text-align: left;border-radius: 10px;}


	/*超出省略号*/
    .ofhc{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

    /*底部*/
	.fott{padding-top:38px;height:  162px;background-color: #fff;}
    .flog{width: 115px;margin-right: 122px}
    .fotphone{width: 115px;height: 21px;line-height: 21px;color: #ffffff;font-size: 12px;text-align: center;border-radius: 21px;background-color: #f14702;margin-top: 8px;}
    .fotfon{width: 170px;}
    .fotfon h2{color: #333333;font-size: 14px;line-height: 14px;margin-bottom: 15px;font-weight: normal}
    .fotfon li{color: #999999;font-size: 12px;margin-bottom:9px;line-height: 12px;}
    .fodi{height: 42px;line-height: 42px;background-color: #333333;color: #999;font-size: 12px;}

/*垂直居中*/
.tian{width: 208px;height: 83px;position: relative;display: table-cell;text-align: center;vertical-align: middle;}
.tian span{top: 50%;position: static;*position: absolute;}
.tian img{top: -50%;left: -50%;position: static;*position: relative;}

/*最最最头部*/
.headertop{width: 100%; height: 40px; background: #eeeeee}
.smheadertop{width: 1200px;margin: 0 auto}
.headtopone{float: right; padding-left: 15px;padding-right: 20px;line-height: 40px;}
.headtopone img{float: left;margin-top: 9px;margin-right: 3px;}
.headtopone span:hover{color: #ff7700};