@charset "utf-8";
/* LEOEX 1.0.0 (build 1) Copyright 2015 errya  http://leoex.com  QQ:228573004*/
/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a{margin:0;padding:0;outline:0;}
table{border-spacing:0;border-collapse:collapse}
ul,li{list-style:none}
fieldset,img{border:0}
a{text-decoration:none;color:#666; transition: 0.2s all; -webkit-transition: 0.2s all; -moz-transition: 0.2s all; -o-transition: 0.2s all;cursor: pointer}
a:hover{text-decoration:none;color:#6493e3}
q:before,q:after{content:''}
abbr,acronym{font-variant:normal;border:0}
address,cite,dfn,optgroup,em,var{font-weight:normal;font-style:normal}
legend{color:#000}
body,button,input,select,textarea{font:14px/1.6 'Microsoft YaHei',微软雅黑,'MicrosoftJhengHei',STHeiti,'LiHei Pro Medium',华文雅黑;color:#333}
code,kbd,pre,samp,tt{font-family:'Courier New',Courier,monospace}
i{font-style:normal}
body{background: #fff;}
.bold{font-weight:bold} /*字体加粗*/
.unbold{font-weight:normal} /*取消加粗*/
.fn{font-family:Arial} /*英文字体*/
.sfh{font-family:'微软雅黑'}
.georgia{font-family:Constantia,Georgia} /*英文字体*/
.tc{text-align:center} /*文本居中*/
.tl{text-align:left}
.tr{text-align:right}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}

.elp{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;} /*文本超出省略号，不自动分行*/
.rel{position:relative} /*相对定位*/
.abs{position:absolute} /*绝对定位*/
.fix{position:fixed} /*浮动定位,IE6不支持*/
.fr{float:right} /*浮动*/
.fl{float:left}

.cc:after{display:block;visibility:hidden;clear:both;height:0;content:'.'} /*清除浮动*/
.cc{display:inline-block}
.cc{display:block}
.c{font:0/0 Arial;clear:both;overflow:hidden;height:0}

.hidden{display:none} /*隐藏*/

.vhidden{visibility:hidden} /*隐藏元素，但保留物理空间*/
.vshow{visibility:visible} /*取消保留物理空间隐藏元素*/
.ofh{overflow:hidden} /*超出隐藏*/
.ofh-x{overflow-x:hidden} /*横向超出隐藏*/
.ofh-y{overflow-y:hidden} /*纵向超出隐藏*/
.ofa{overflow-y:auto} /*纵向超出隐藏，自动添加滚动条*/
.block{display:block} /*元素转成块*/
.ma{margin:0 auto} /*水平居中*/
.w100{width:100%}

/*栅格*/
.span-1{width:75px}
.span-2{width:170px}
.span-3{width:265px}
.span-4{width:360px}
.span-5{width:455px}
.span-6{width:550px}
.span-7{width:645px}
.span-8{width:700px}
.span-9{width:835px}
.span-10{width:930px}
.span-11{width:1025px}
.span-12{width:1120px}
.span-13{width:1215px}
.warp{width:1200px;margin:0 auto}
/*透明度*/
.alpha10{opacity:.1;filter:alpha(opacity=10);-moz-opacity:.1}
.alpha33{opacity:.33;filter:alpha(opacity=33);-moz-opacity:.33}
.alpha50{opacity:.5;filter:alpha(opacity=50);-moz-opacity:.5}
.alpha66{opacity:.66;filter:alpha(opacity=66);-moz-opacity:.66}
.mt-5{margin-top: -5px;}
.mt2{margin-top:2px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px} 
.mt30{margin-top:30px} 
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt65{margin-top:65px}
.mt60{margin-top:60px}  
.mt70{margin-top:70px} 
.mb20{margin-bottom:20px} 
.mt30{margin-top:30px} 
.mt40{margin-top:40px} 
.pa20{padding:20px} 
.pt20{padding-top:20px} 
.pt50{padding-top:50px} 
.pt80{padding-top:80px} 
.hand{cursor:pointer} /*手型鼠标*/
.line100{height:1px; background: #ebebeb; display: block;margin:25px 0;}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  font-family: iconfont;
}

/*垂直翻转*/
.flipy {
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
    /*IE*/
    filter:FlipV;
}

i.ico,a.ico,h1.ico{position:relative;display:block;overflow:hidden;width:30px;height:30px;background-image:url('../images/ico.gif')}i.ico.weixin{background-position:-60px 0}i.ico.weibo{background-position:-30px 0}i.ico.mobile{background-position:-90px 0}i.ico.video{background-position:-120px 0}i.ico.listVide{background-position:-150px 0}i.ico.listDate{background-position:-210px -120px}i.ico.smallDate{background-position:-240px -120px}i.ico.img{background-position:0 -30px}i.ico.imgs{background-position:-180px -0}i.ico.tall{background-position:-30px -30px}i.ico.visit{background-position:-120px -30px}i.ico.v1{background-position:-270px -60px}i.ico.v2{background-position:-270px -90px}i.ico.v3{background-position:-270px -120px}i.ico.v4{background-position:-270px -150px}i.ico.v5{background-position:-270px -180px}i.ico.cydLogo{background-position:-0 -180px}i.ico.weibaodao{background-position:-240px -150px}i.ico.quan{background-position:-150px -180px}i.ico.search{background-position:-210px -180px}i.ico.weibo1{background-position:0 -240px}i.ico.weixin1{background-position:-30px -240px}i.ico.mail{background-position:-60px -240px}i.ico.rss{background-position:-90px -240px}i.ico.chat{width:23px;height:24px;-webkit-transition:.2s all;-moz-transition:.2s all;-o-transition:.2s all;transition:.2s all;background-position:-120px -240px}i.ico.schat{width:16px;height:16px;background-position:-180px -240px}i.ico.thumbEr{background-position:-210px -210px}i.ico.close{background-position:-240px -180px}i.ico.wx{background-position:-240px -210px}h1.ico.slogo{width:130px;height:25px;text-indent:-999999em;background-position:0 -420px}h1.ico.viewLogo{top:-5px;width:130px;height:30px;text-indent:-999999em;background-position:-150px -420px}i.ico.no{background-position:right bottom}

