<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$web.title}</title> 
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> 
    <link rel="stylesheet" href="__BS__/css/bootstrap.min.css">   
    <link rel="stylesheet" href="__CSS__/AdminLTE.min.css"> 
    <link rel="stylesheet" href="__CSS__/skins/_all-skins.min.css">
    <link rel="stylesheet" href="__CSS__/sweet-alert.css">
    <script src="__JS__/jQuery-2.1.4.min.js"></script> 
<style>
     .contentList .edittd{position: relative;}
        .contentList .editbox{width:72px;height:36px;position: absolute;top:9px;right:85px;display: none;}
        .contentList .edittd i.iconfont.del{color:#d73925;}
        .contentList .contentItem i.iconfont{width:36px;height:36px;line-height: 36px;float:left;text-align: center;cursor:pointer;background: none} 
        .contentList .edittd:hover i.iconfont.edit{background:#367fa9;color:#fff;}
        .contentList .edittd:hover i.iconfont.del{background:#dd4b39;color:#fff;}
        .contentList .edittd:hover i.iconfont.edit:hover{background:#32779E;color:#fff;}
        .contentList .edittd:hover i.iconfont.del:hover{background:#d73925;color:#fff;}
        
        .contentList .edittd:hover .editbox{display: block;}
        .contentList i.iconfont.put{background:#00a65a;color:#fff;font-size: 16px;}
        .contentList i.iconfont.put:hover{background:#008d4c;}
        .contentList i.iconfont.com{background:#2aabd2;color:#fff; }
        .contentList i.iconfont.com:hover{background:#269abc;}
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{padding:9px;}

     </style>
  </head>
  <body class="hold-transition skin-blue sidebar-mini {$web.sidebar_collapse}">
    <div class="wrapper">
      {include file="public/left" /}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1> 
            系统管理平台
          </h1> 
        </section>

        <!-- Main content -->
        <section class="content"> 
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>1</h3>
                            <p>昨日新增内容</p>
                        </div>
                        <div class="icon">
                        <i class="ion iconfont">&#xe603;</i>
                        </div>
                        <a href="/News/index.html?time=1" class="small-box-footer">所有内容 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>2</h3>
                            <p>昨日新增产品</p>
                        </div>
                        <div class="icon">
                        <i class="ion iconfont">&#xe63f;</i>
                        </div>
                        <a href="/Content/index/audit/0" class="small-box-footer">所有内容 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>3</h3>
                            <p>昨日新增订单</p>
                        </div>
                        <div class="icon">
                        <i class="ion iconfont">&#xe60b;</i>
                        </div>
                        <a href="/Order/index.html" class="small-box-footer">所有内容 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>4</h3>
                            <p>昨日新增用户</p>
                        </div>
                        <div class="icon">
                        <i class="ion iconfont">&#xe644;</i>
                        </div>
                        <a href="/User/index.html" class="small-box-footer">所有内容 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div> 
            </div><!-- /.row --> 
            <div class="row">
            <!-- Left col -->
                <section class="col-lg-7 connectedSortable"> 
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right">
                            <!-- <li><a href="#content-my" data-toggle="tab">我的内容</a></li> -->
                            <li class="active"><a href="#content-hot" data-toggle="tab">最新商品</a></li>
                            <li class="pull-left header"><i class="fa fa-inbox"></i>商品内容</li>
                        </ul>
                        <div class="tab-content no-padding"> 
                            <div class="chart tab-pane " id="content-my" style="position: relative; height: 312px;"> 
                                
                            </div>
                            <div class="chart tab-pane active" id="content-new" style="position: relative; height: 312px;">
                                <table class="table table-hover table-striped contentList">
                                    <thead>
                                    <tr>
                                        <th class='maxtable'>标题</th>  
                                        <th width='95' class='th-oper'>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody style="overflow-y:scoll;">

                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right">
                            <!-- <li><a href="#product-new" data-toggle="tab">最新产品</a></li> -->
                            <li class="active"><a href="#product-hot" data-toggle="tab">最新资讯</a></li>
                            <li class="pull-left header"><i class="fa fa-inbox"></i>资讯管理</li>
                        </ul>
                        <div class="tab-content no-padding"> 
                            <!-- <div class="chart tab-pane " id="product-my" style="position: relative; height: 312px;"> </div> -->
                            <div class="chart tab-pane" id="product-new" style="position: relative; height: 312px;"> </div>
                            <div class="chart tab-pane active" id="product-hot" style="position: relative; height: 327px;"> 
                            
                                <table class="table table-hover table-striped contentList">
                                    <thead>
                                    <tr>
                                        <th class='maxtable'>标题</th>  
                                                <th width='95' class='th-oper'>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody style="overflow-y:scoll;">

                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </section><!-- /.Left col --> 
                <section class="col-lg-5 connectedSortable">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right">
                            <!-- <li><a href="#topics-my" data-toggle="tab">我的专题</a></li> -->
                            <li class="active"><a href="#topics-new" data-toggle="tab">最新订单</a></li>
                            <!-- <li ><a href="#topics-hot" data-toggle="tab">热门专题</a></li> -->
                            <li class="pull-left header"><i class="fa fa-inbox"></i>订单管理</li>
                        </ul>
                        <div class="tab-content no-padding"> 
                            <!-- <div class="chart tab-pane " id="topics-my" style="position: relative; height: 312px;"> </div> -->
                            <div class="chart tab-pane active" id="topics-new" style="position: relative; height: 312px;"> 
                                <table class="table table-hover table-striped contentList">
                                <thead>
                                <tr>
                                    <th class='maxtable'>标题</th>  
                                    <th width='95' class='th-oper'>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table> 
                            
                            </div>
                        </div>
                    </div>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right"> 
                            <li class="pull-left header"><i class="fa fa-inbox"></i>经销商</li>
                        </ul>
                        <div class="tab-content no-padding">  
                            <div class="chart tab-pane active" id="content-hot" style="position: relative; height: 312px;overflow:auto;"> 
                                <table class="table table-hover table-striped contentList">
                                    <thead>
                                    <tr>
                                        <th class='maxtable'>用户</th>  
                                        <th width='maxtable' class='th-oper'>状态</th>
                                    </tr>
                                    </thead>
                                    <tbody style="overflow-y:scoll;">
            

                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </section><!-- right col -->
            </div><!-- /.row (main row) -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      {include file="public/footer" /}
    </div> 
  </body>
</html>
