
/*所有案例*/
.main{
	width: 100%;
	margin-top: 4.48rem;
	margin-bottom: 1rem;
}
.real-main li{
	width: 100%;
	padding: 0.25rem;
	background-color: #fff;
	border-top: 0.01rem solid #e7e7e7;
	border-bottom: 0.01rem solid #e7e7e7;
	margin-bottom: 0.2rem;
}
.my-gallery{
    overflow: hidden;
}
.my-gallery figure .myps1{
    width: 2.3rem;
    height: 1.46rem ! important;
    margin-right: 0.05rem;
    float: left;
}
.my-gallery figure:nth-of-type(3) .myps1{
    margin-right: 0;
}
.my-gallery .myps1 img{
    width: 100%;
    height: 100%;
    display: block;
}
figure{
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
}
.rm-b{
	margin-top: 0.2rem;
}
.rm-b p:nth-of-type(1){
	color: #2c2c2c;
	font-size: 0.28rem;
	height: 0.4rem;
	line-height: 0.4rem;
}
.rm-b p:nth-of-type(2){
	color: #666666;
	font-size: 0.24rem;
	height: 0.3rem;
	line-height: 0.3rem;
}

/*我的案例*/
.wdal{
	width: 2rem;
    height: 2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    border-radius: 50%;
}

/*提交案例*/
.rmy-main{
	padding: 0.25rem;
	background-color: #fff;
}
.title{
	height: 0.56rem;
	line-height: 0.56rem;
	text-align: center;
	font-size: 0.36rem;
	color: #2c2c2c;
	margin-bottom: 0.3rem;
}
#ftwal{
	padding: 0 0.25rem;
}
.ys1{
	margin-bottom: 0.2rem;
}
.ys1 p{
	width: 1.4rem;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.28rem;
	color: #2c2c2c;
}
.text1 {
	width: 5rem;
	height: 0.8rem;
	border: 0.01rem solid #e7e7e7;
	padding: 0 0.2rem;
	font-size: .28rem;
}
.text2 {
	width: 5rem;
	height: 1.8rem;
	border: 0.01rem solid #e7e7e7;
	padding: 0.2rem;
	font-size: .28rem;
}
.sjzp {
	width: 5rem;
}
.sjzp li {
	width: .95rem;
	height: .76rem;
	float: left;
	margin-right: .15rem;
	margin-bottom: .15rem;
}
.sjzp li img {
	width: 100%;
	height: 100%;
	display: block;
}
