/* LEOEX 1.0.0 (build 1) Copyright 2015 errya  http://leoex.com  QQ:228573004*/
@charset "utf-8";
/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a{margin:0;padding:0;outline:0;}
table{border-spacing:0;border-collapse:collapse}
ul,li{list-style:none}
fieldset,img{border:0}
a{text-decoration:none;color: #333;}
a:hover{text-decoration:none;}
q:before,q:after{content:''}
abbr,acronym{font-variant:normal;border:0}
address,cite,dfn,optgroup,em,var{font-weight:normal;font-style:normal}
legend{color:#000}
body,button,input,select,textarea{font:14px/1.6 'Microsoft YaHei',微软雅黑,'MicrosoftJhengHei',STHeiti,'LiHei Pro Medium',华文雅黑;color:#333;}
code,kbd,pre,samp,tt{font-family:'Courier New',Courier,monospace}
i{font-style:normal}



.bold{font-weight:bold} /*字体加粗*/
.unbold{font-weight:normal} /*取消加粗*/
.fn{font-family:Arial} /*英文字体*/
.sfh{font-family:'微软雅黑'}
.georgia{font-family:Constantia,Georgia} /*英文字体*/
.tc{text-align:center} /*文本居中*/
.tl{text-align:left}
.tr{text-align:right}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f17{font-size:17px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}

.elp{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;} /*文本超出省略号，不自动分行*/
.rel{position:relative} /*相对定位*/
.abs{position:absolute} /*绝对定位*/
.fix{position:fixed} /*浮动定位,IE6不支持*/
.fr{float:right} /*浮动*/
.fl{float:left}

.cc:after{display:block;visibility:hidden;clear:both;height:0;content:'.'} /*清除浮动*/
.cc{display:inline-block}
.cc{height:1%}
.cc{display:block}
.c{font:0/0 Arial;clear:both;overflow:hidden;height:0}

.hidden{display:none} /*隐藏*/

.vhidden{visibility:hidden} /*隐藏元素，但保留物理空间*/
.vshow{visibility:visible} /*取消保留物理空间隐藏元素*/
.ofh{overflow:hidden} /*超出隐藏*/
.ofh-x{overflow-x:hidden} /*横向超出隐藏*/
.ofh-y{overflow-y:hidden} /*纵向超出隐藏*/
.ofa{overflow-y:auto} /*纵向超出隐藏，自动添加滚动条*/
.block{display:block} /*元素转成块*/
.ma{margin:0 auto} /*水平居中*/
.w100{width:100%;margin:0 auto;}
.warp{width:92%;margin:0 auto;}
/*栅格*/
.span-1{width:75px}
.span-2{width:170px}
.span-3{width:265px}
.span-4{width:360px}
.span-5{width:455px}
.span-6{width:550px}
.span-7{width:645px}
.span-8{width:740px}
.span-9{width:835px}
.span-10{width:930px}
.span-11{width:1025px}
.span-12{width:1120px}
.span-13{width:1215px}
/*.warp{width:1120px;margin:0 auto}*/

.imgauto{display:block;width:100%;margin:0 auto;}

/*透明度*/
.alpha10{opacity:.1;filter:alpha(opacity=10);-moz-opacity:.1}
.alpha33{opacity:.33;filter:alpha(opacity=33);-moz-opacity:.33}
.alpha50{opacity:.5;filter:alpha(opacity=50);-moz-opacity:.5}
.alpha66{opacity:.66;filter:alpha(opacity=66);-moz-opacity:.66}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px} 
.mt30{margin-top:30px} 
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.hand{cursor:pointer} /*手型鼠标*/

.colorf{color:#fff;}
.color3{color:#333;}
.color6{color:#666;}
.color9{color:#999;}



.bg-fff{background:#fff;}
.bg-f3{background:#f3f3f3;}
.bg-f6{background:#f6f6f6;}
.bg-fa{background:#fafafa;}
.bg-e{background:#eee;}

.text-p{color:#e70036;}
.bt-e8{border-top:1px solid #e8e8e8;}
.bd-e8{border-bottom:1px solid #e8e8e8;}
.bl-e8{border-left:1px solid #e8e8e8;}
.br-e8{border-right:1px solid #e8e8e8;}


/*清除浮动 -- 减少浏览器渲染负担 -- 推荐*/
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}

body{
	background-color: #fff;
	position: relative;
}
input{
	outline: none;
	border: none;
}


/*公共样式*/
@font-face {
  font-family: 'iconfont';  /* project id 441479 */
  src: url('//at.alicdn.com/t/font_441479_e94738wi2vxtj4i.eot');
  src: url('//at.alicdn.com/t/font_441479_e94738wi2vxtj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_441479_e94738wi2vxtj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_441479_e94738wi2vxtj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_441479_e94738wi2vxtj4i.svg#iconfont') format('svg');
}
.icon{font-family: 'iconfont';}
.container{width: 1200px;margin: 0 auto;position: relative;}

/*单行省略*/
.ahsl{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
/*多行省略*/
.bhsl{overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}

/*公共头部*/
.top{width: 100%;height: 40px;line-height: 40px;font-size: 14px;color: #333;background-color: #f4f4f4;}
.top-l{height: 40px;}
.top-l .icon{font-size: 16px;color: #ef4602;}
.top-r1{height: 40px;padding: 0 20px;}
.top-r2 li{height: 40px;padding-left: 20px;float: left;}
	/*收获地址*/
.shdz{padding: 20px;background-color: #fff;position: absolute;top: 40px;left: 0;border: 1px solid #dcdcdc;border-top: none;display: none;z-index: 2000;}
.shdz-t{margin-bottom: 15px;}
.shdz-t .shdz-t1 {width: 60px;height: 30px;line-height: 30px;font-size: 14px;margin-right: 20px;}
.shdz-t .shdz-t2 .topsearch{width: 248px;font-size: 14px;color: #999;height: 28px;border: 1px solid #d2d2d2;background-color: #fff;padding: 0 15px;}
.shdz-t .shdz-t2 .topsearch2{width: 32px;height: 30px;background-color: #fff;background-size: 100% 100%;text-indent:-9999px;}
.shdz-b1 {width: 60px;height: 30px;line-height: 30px;font-size: 14px;margin-right: 20px;}
.shdz-b2{width: 312px;}
.shdz-b2 ul{width: 340px;}
.shdz-b2 ul li{width: 68px;float: left;height: 30px;line-height: 30px;}
.shdz-b2 ul li a{color: #807e7e;}

.bottom{width: 100%;height: 100px;background-color: #fff;}
.bottom .logo{margin-top: 31px;width: 195px;float: left;margin-right: 35px;}
.qbfl {padding: 0 20px;height: 100px;line-height: 100px;float: left;font-size: 16px;}
.qbfl span {color: #333;text-align: center;display: inline-block;margin-left: 5px;}
.nav li{padding: 0 20px;height: 100px;line-height: 100px;float: left;font-size: 16px;}
.dhon a{color: #f24702;}
.br{height: 100px;}
.br form{margin-top: 30px;}
.search{width: 136px;font-size: 14px;color: #999;height: 38px;border: 1px solid #d2d2d2;background-color: #fff;padding: 0 15px;}
.search2{width: 40px;height: 40px;border: 1px solid #d2d2d2;border-left: none;background-color: #fff;background-size: 100% 100%;text-indent:-9999px;}

.qbnr {display: none;position: absolute;top: 100px;left: 0;z-index: 100;width: 200px;height: 450px;padding: 20px 0 50px 0;font-size: 16px;color: #fff;background-color: rgba(0,0,0,.6);}
.qbnrlist>li {;height: 50px;line-height: 50px;}
.qbnrlist>li>a {display: block;color: #fff;padding-left: 70px;position: relative;}
.qbnrlist>li>a:hover {background-color: #fff;color: #f24702;} 
.qbnrlist>li>a .icon {position: absolute;top: 0;left: 22px;font-size: 24px;}
.qbnrlist>li>a .xtb {position: absolute;top: 0;right: 32px;}
.qbl-b {display: none;position: absolute;left: 200px;top: 0;z-index: 100;height: 450px;padding: 20px 0 50px 0;background: #fff;-webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.18);box-shadow: 0 8px 16px rgba(0,0,0,0.18);}
.qbl-bt {height: 50px;line-height: 50px;font-size: 14px;color: #333;padding: 0 30px;}
.qbblist {float: left;}
.qbblist-col-1{width:264px;}
.qbblist-col-2{width:528px;}
.qbblist-col-3{width:792px;}
.qbblist li {width: 204px;height: 56px;padding: 0 30px;margin-top: 10px;}
.qbblist li a {display: block;}
.qbblist li img {width: 84px;height: 56px;float: left;}
.qbblist li p {width: 100px;height: 56px;float: left;margin-left: 20px;line-height: 56px;font-size: 14px;color: #757575;}


/*公共尾部*/
.footer {border-top: 1px solid #f4f4f4;}
.footer-o {background-color: #fff;}
.footerlist {padding: 40px 0;border-bottom: 1px solid #f4f4f4;}
.footerlist li {width: 220px;float: left;height: 50px;padding: 0 40px;}
.footerlist li .fl-l {width: 45px;height: 40px;margin-top: 5px;}
.footerlist li .fl-r {width: 155px;}
.ggys3 {font-size: 16px;color: #333;line-height: 1;margin-top: 5px;margin-bottom: 10px;}
.ggys4 {font-size: 14px;color: #666;line-height: 1;}		
.footer-t {padding: 40px 0;background-color: #fff;}
.footer-t .col-links {float: left;width: 195px;padding-left: 25px;position: relative;}
.footer-t .col-links .tiao{width: 2px;height: 100px;background-color: #eee;position: absolute;top: 0;left: 0;}
.footer-t .col-links .tiao div{height: 32px;background-color: #f24702;}
.footer-t .col-links dt{margin-bottom: 16px;font-size: 16px;line-height: 1;color: #333;}
.footer-t .col-links dd{margin-top: 16px;font-size: 14px;line-height: 1;}
.footer-t .col-links dd a{color: #999;}
.footer-t .col-links dd a:hover{color: #ef4602;}
.xinxi {width: 350px;}
.xinxi .ggys1 {font-size: 16px;line-height: 1;margin-bottom: 26px;}
.xinxi .ggys2 {font-size: 14px;line-height: 1;margin-top: 16px;color: #999;}
.xinxi .ggys2 span {font-size: 20px;margin-right: 15px;}
.ewm {width: 150px;}
.ewm img {width: 102px;height: 102px;display: block;margin: 0 auto;margin-bottom: 10px;}
.ewm p {font-size: 14px;color: #666;line-height: 2;text-align: center;}
.footer-b {width: 100%;height: 58px;line-height: 58px;background-color: #313131;text-align: center;font-size: 14px;color: #fff;}

/*透明遮罩*/
.mask{width: 100%;height: 100%;display: none;position: absolute;left: 0;top: 0;z-index: 1000;}

/*侧边栏*/
.cbl {position: fixed;top: 0;right: 0;z-index: 900;height: 100%;}
.cbl-t {width: 50px;height: 100%;background-color: rgba(0,0,0,.8);}
.cbl-t-o {position: absolute;top: 50%;left: 0;margin-top: -185px;z-index: 901;}
.cbl-t-o div .icon {width: 50px;height: 40px;display: block;text-align: center;line-height: 40px;font-size: 24px;color: #c93a04;}
.cbl-t-o div p {width: 50px;line-height: 24px;font-size: 16px;color: #fff;text-align: center;}
.cbl-t-o div .sl{width: 26px;height: 16px;display: block;border-radius: 8px;background-color: #e31b1b;text-align: center;line-height: 16px;font-size: 12px;color: #fff;margin: 0 auto;margin-top: 5px;}

.cbl-t-t {position: absolute;bottom: 30px;left: 0;}
.cbl-t-t div {margin-bottom: 10px;}
.cbl-t-t div .icon {width: 50px;height: 40px;display: block;text-align: center;line-height: 40px;font-size: 24px;color: #c93a04;}
.cbl-t-t div img {width: 50px;height: 40px;display: block;}

.cbl-t-xs{
  position: relative;
}
.cbl-t-yc{
  position: absolute;
  top: 1.5px;
  left: -154px;
  background-image: url("../img/cbl-t-yc-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 37px;
  width: 104px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  line-height: 37px;
  font-size: 14px;
  display: none;
}
.cbl-t-xs2 {padding: 10px 0;margin: 10px 0;}
.cbl-t-xs2:hover {background-color: #313131;}


/*小图标旋转*/
.rotate {
  transform-origin: center center;
  /*旋转中心要是正中间 才行*/
    transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.2s;
  /*过度时间 可调*/
   -moz-transition: -moz-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}

.rotate1 {
  transform-origin: center center;
  transform: rotate(0deg);
  /*返回原点*/
    -webkit-transform: rotate(0deg);
  -moz-transform: rotate(deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}


