
/*内容*/
.main{
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 1.16rem;
}

/*副导航*/
.fnav{
	padding: 0 0.25rem;
	background-color: #fff;
	border-bottom: 0.01rem solid #e7e7e7;
}
.fnav .swiper-container{
	width: 100%;
	height: 1rem;
}
.fnav .swiper-slide{
	height: 1rem;
}
.fnava{
	display: block;
	text-align: center;
	line-height: 1rem;
	color: #2c2c2c;
	font-size: 0.3rem;
}
.cpon{
	border-bottom: 0.03rem solid #f14702;
}

/*正文*/
.fa-zw li{
	padding-top: 0.3rem;
	background-color: #fff;
	margin-bottom: 0.16rem;
}
.fa-title{
	width: 100%;
	height: .5rem;
	font-size: .3rem;
	text-align: center;
	margin-bottom: .2rem;
}
.xhx{
	width: .43rem;
	height: .03rem;
	display: block;
	margin: 0 auto;
	margin-bottom: .4rem;
}
.ys1{
	display: block;
	width: 100%;
	height: 100%;
}
.ys1 img{
	width: 100%;
	display: block;
}
.ys1 p{
	padding: 0.2rem 0.25rem 0.35rem 0.25rem;
	font-size: .26rem;
	line-height: 0.4rem;
	color: #666;
}