body,html{height:100%;-webkit-tap-highlight-color:transparent}body{overflow-x:hidden;background-color:#fbf9fe}.container{height:100%;overflow-y:auto;-webkit-overflow-scrolling:touch}.container>div{background-color:#fbf9fe}.hd{padding:2em 0}.page_title{text-align:center;font-size:34px;color:#3cc51f;font-weight:400;margin:0 15%}.page_desc{text-align:center;color:#888;font-size:14px}.bd.spacing{padding:0 15px}.button .page_title{color:#225fba}.button .bd{padding:0 15px}.button .button_sp_area{padding:10px 0;width:60%;margin:0 auto;text-align:justify;text-justify:distribute-all-lines;font-size:0}.button .button_sp_area:after{display:inline-block;width:100%;height:0;font-size:0;margin:0;padding:0;overflow:hidden;content:"."}.cell .page_title{color:#225fba}.cell .bd{padding-bottom:30px}.dialog .bd,.toast .bd{padding:120px 15px 0}.msg{background-color:#fff}.panel .bd{padding-bottom:20px}.article{background-color:#fff}.article .page_title{color:#de7c23}.icons{background-color:#fff;text-align:center}.icons .page_title{color:#3e24bd}.icons .bd{padding:30px 0;text-align:center}.icons .icon_sp_area{padding:10px 20px;text-align:left}.icons i{margin:0 5px 10px}.tabbar{height:100%}.search_show{display:none;margin-top:0;font-size:14px}.search_show .weui_cell_bd{padding:2px 0 2px 20px;color:#666}.icon{display:inline-block;width:28px;height:28px;vertical-align:middle}.icon_button{background:url(images/icon_nav_button.png) no-repeat;background-size:28px 28px}.icon_cell{background:url(images/icon_nav_cell.png) no-repeat;background-size:28px 28px}.icon_toast{background:url(images/icon_nav_toast.png) no-repeat;background-size:28px 28px}.icon_dialog{background:url(images/icon_nav_dialog.png) no-repeat;background-size:28px 28px}.icon_progress{background:url(images/icon_nav_progress.png) no-repeat;background-size:28px 28px}.icon_msg{background:url(images/icon_nav_msg.png) no-repeat;background-size:28px 28px}.icon_article{background:url(images/icon_nav_article.png) no-repeat;background-size:28px 28px}.icon_actionSheet{background:url(images/icon_nav_actionSheet.png) no-repeat;background-size:28px 28px}.icon_icons{background:url(images/icon_nav_icons.png) no-repeat;background-size:28px 28px}.icon_panel{background:url(images/icon_nav_panel.png) no-repeat;background-size:28px 28px}.icon_tab{background:url(images/icon_nav_tab.png) no-repeat;background-size:28px 28px}.icon_search_bar{background:url(images/icon_nav_search_bar.png) no-repeat;background-size:28px 28px}@-webkit-keyframes a{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}to{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes a{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}to{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@-webkit-keyframes b{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}}@keyframes b{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}}.enter,.leave{position:absolute;top:0;right:0;bottom:0;left:0;z-index:1}.enter{-webkit-animation:a .2s forwards;animation:a .2s forwards}.leave{-webkit-animation:b .25s forwards;animation:b .25s forwards}
@font-face {font-family: "iconfont";
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'),
  url('font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important; 
  font-style:normal;  
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  position: relative; 
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body{color:#666;} 
.content{position: absolute;top:0;bottom:40px;overflow-y: scroll;-webkit-overflow-scrolling: touch;width:100%;}
.topbar{height:40px;background:#f66;padding:0 60px;font-size: 20px;color:#fff;line-height: 40px;text-align: center;}
.topbar a{color:#fff !important;}
.topbar i.iconfont{display: block;width:40px;height:40px;text-align: center;font-size: 26px; position: absolute; top:0;}
.topbar i.menu{right:0;}
.topbar i.index{background:#084;left:0;}
.text-overflow { display:block; width:100%; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.banner{max-height:200px; position: relative;overflow: hidden}
.banner img{width:100%;}
.viewnumbox{ position: absolute;right:20px;bottom:20px; color:#fff;}
.viewnumbox i.iconfont{width:40px;height:40px;border-radius: 40px;background:#f66;display:block;font-size: 24px;text-align: center;line-height: 40px;position: absolute;z-index: 5;top:-5px;left:-12px;}
.viewnumbox .number{background: rgba(255,204,102,.75);z-index: 1;font-size:12px;padding:0 8px;border-radius: 40px;height:30px;line-height: 30px;padding-left: 34px;}
.viewnumbox .number span{margin-right:5px;}
.info{margin:18px;border-left:2px solid #f66;padding:5px;background:#F7F7F7;color:#666;line-height: 1.2em;}
.info span{display: inline-block;background: #f66;color:#fff;padding:0 3px;margin-right: 5px;}
.info p{line-height: 1.6em;font-size:14px;} 
.livelist{padding:0 15px;border-top:#f2f2f2 solid 20px;padding-top: 15px;}
.livelist .item{margin-left:3px;border-left:1px dashed #bbb;position: relative;padding-left: 20px;margin-right: 5px;padding-bottom: 20px;}
.livelist .item.isaudit{opacity: .7}
.livelist .item.isaudit h3:before{content:"[未审核]";margin-right: 10px;font-weight: bold;background:#a00;display:inline-block;color: #fff;line-height: 1em;padding:1px 2px 2px 2px;position: relative;top:-2px;}
.livelist .item.activ{box-shadow: rgba(0,0,0,.4) 0 0 10px;margin-bottom: 20px;padding-bottom: 2px}
.livelist .head{width:28px;height:28px;border-radius: 28px;border:1px solid #bbb;position: absolute;left:-15px;top:0;}
.livelist .delitem{width:28px;height:28px;border-radius: 28px;position: absolute;background: #f66;left:-15px;top:34px;line-height: 28px;text-align: center;color:#fff;}
.livelist h3 {color:#f60;position: relative;top:0px;}
.livelist h3 span{border:1px solid #eee;font-size: 13px;border-radius: 13px;color:#666;float: right;padding: 3px 10px;font-weight: normal;position: relative;top:5px;height:14px;line-height: 1em;display: block;overflow: hidden;}
.livelist p{margin-top: 10px;line-height: 1.6em;word-break:break-all; word-wrap:break-word;}
.livelist p.contenteditable{padding:5px;border:1px solid #f60;margin-right:10px;}
.livelist p img{max-width: 100%}
.livelist .item:last-child{padding-bottom: 0}
i.sound{padding: 0px 10px;color:#008040;border:1px solid #008040;border-radius: 40px;font-size: 14px;width:60%;display: inline-block;margin-top: 10px;height:30px;line-height: 32px;overflow: hidden}
i.sound:after{content:attr(data);width:100%;text-align: center;margin-left: 5px;}
i.play{       
      border:1px solid #008040;
      background:#008040;
      color:#fff;
      -webkit-animation: twinkling 2s infinite ease-in-out; 
      -moz-animation: twinkling 2s linear infinite;
      -o-animation: twinkling 2s linear infinite;
      animation: twinkling 2s linear infinite;
}
.live_oper i.open.isopen{background:#a00;}
.submit input{width:90px;height:30px;overflow: hidden;line-height: 30px;text-align: center;border:0 none;margin-right: 15px;background: #084;margin-top: 10px;color:#fff;}
.submit input.fq{background:#aaa;}
.getEnjoin{padding:20px;}
.getEnjoin.wait{font-size: 12px;color:#999;}
.weui-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}


.weui-actionsheet {
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5000;
    width: 100%;
    background-color: #EFEFF4;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.weui-actionsheet_toggle {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.weui-actionsheet__menu {
    background-color: #FFFFFF;
}


.weui-actionsheet__cell {
    position: relative;
    padding: 10px 0;
    text-align: center;
    font-size: 18px; 
}
.weui-actionsheet__cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}


.weui-actionsheet__action {
    margin-top: 6px;
    background-color: #FFFFFF;
}
.weui-dialog {
    position: fixed;
    z-index: 5000;
    width: 80%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.weui-skin_android .weui-dialog__bd:first-child {
    padding: 1.6em 1.6em 2em;
    color: #353535;
}
.weui-skin_android .weui-dialog__bd {
    color: #999999;
    padding: 0.25em 1.6em 2em;
    font-size: 17px;
    text-align: left;
}
.weui-dialog__bd:first-child {
    padding: 2.7em 20px 1.7em;
    color: #353535;
}
.weui-dialog__bd {
    padding: 0 1.6em 0.8em;
    min-height: 40px;
    font-size: 15px;
    line-height: 1.3;
    word-wrap: break-word;
    word-break: break-all;
    color: #999999;
}

.weui-skin_android .weui-dialog__ft {
    display: block;
    text-align: right;
    line-height: 42px;
    font-size: 16px;
    padding: 0 1.6em 0.7em;
}
.weui-dialog__ft {
    position: relative;
    line-height: 48px;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
} 
.weui-skin_android .weui-dialog__btn:visited {
    background-color: rgba(0, 0, 0, 0.06);
}
.weui-skin_android .weui-dialog__btn_default {
    color: #808080;
}
.weui-skin_android .weui-dialog__btn {
    display: inline-block;
    vertical-align: top;
    padding: 0 .8em;
}
.weui-dialog__btn_default {
    color: #353535;
}
.weui-dialog__btn {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #3CC51F;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
}
.weui-skin_android .weui-dialog__btn:last-child {
    margin-right: -0.8em;
}
.js_dialog .weui-mask{display: block;}
.js_dialog{display: none}
.live_time{font-size:12px;color:#aaa;margin-top:10px;}
.live_oper{height:46px;margin-top:10px;margin-left:-35px;margin-right: -20px;display: none;}
.live_oper i{width:18%;background:#f60;display: block;float:left;margin-right: 3px;text-align: center;color:#fff;font-size: 16px;line-height: 1.1em;padding: 5px 0}
.live_oper i:after{content:attr(data-str);font-family:Arial;display: block;font-size:12px;} 
.live_oper i.open{float:right;background:#34495e;}
.live_oper i.audit{background:#084;}
.live_oper i.edit{background:#3498db;}
.live_oper i.enjoin{background:#c0392b;}
i.praise{float: right;font-size: 14px;}
i.praise:after{content:attr(data-praise);font-family:Arial;margin-left: 5px;} 

.page{background:#eee;margin-top:25px;padding:15px;text-align: center;font-size:16px;}
.page i{display: block;font-size: 24px;}
.sp{height:40px;}

.bottom,.bottomoper{height:40px;border-top:1px solid #f66;position: fixed;bottom:0;left:0;background: #fff;width:100%;z-index: 9}
.bottom a{color:#333 !important;}
.bottom i.iconfont{font-size: 16px;line-height: 40px;padding:0 15px;}
.bottom .join,.bottom .wz,.bottom .guest{float:right;}
.bottom .join{background:#f66;color:#fff;}
.bottom .wz,.bottom .guest{border-left:1px solid #eee;}
.bottom .join:after,.bottom .kefu:after{content:attr(data);margin-left: 5px;}

.bottomoper{height: auto;min-height: 46px;}
.bottomoperbox{padding:0 100px 0 50px;position: relative;min-height: 40px;padding-bottom: 5px;}
.bottomoperbox > i.iconfont{width:50px;height:46px;font-size: 32px;position: absolute;text-align: center;line-height: 50px;}
.bottomoper i.key{left:0;bottom:0;}
.bottomoper i.push{right:0;bottom:0;}
.bottomoper i.img{right:50px;bottom:0;}
.bottomoper .input{border-bottom:1px solid #ddd; line-height: 1.2em;font-weight: normal;min-height: 28px;padding-top: 10px;outline:none;}
.bottomoper .input:focus{outline:none;border-bottom:1px solid #f66;}
.bottomoper .input:focus + i.push{color:#084;}
.bottomoper .setsoundoper{height:32px;margin: 5px 10px 0px 10px;border-radius:3px;border:1px solid #ddd;text-align:center;line-height: 32px;display: none;font-size: 14px;}
.bottomoperbox.setsound{padding:0 0 0 50px;}
.bottomoperbox.setsound i.img,.bottomoperbox.setsound i.push{display: none;}
.bottomoperbox.setsound .setsoundoper{display: block;}
.bottomoperbox.setsound .input{display: none}
.bottomoperbox.setsound + #uploader{display: none!important;}

#record{width:200px;height:200px;background:rgba(0,0,0,.6);color:#fff;position: fixed;top:50%;left:50%;margin-left: -100px;margin-top: -140px;border-radius: 6px;font-size:120px;z-index: 10;text-align: center;line-height: 140px;display: none;
  }
#record:not(.no){ 
  -webkit-animation: twinkling 2s infinite ease-in-out; 
  -moz-animation: twinkling 2s linear infinite;
  -o-animation: twinkling 2s linear infinite;
  animation: twinkling 2s linear infinite;
}
#record:after{display: block;font-size:16px;color:#fff;margin: 10px 10% 20px 10%;height:30px;line-height: 30px;border-radius: 4px;}
#record:after{content:"上滑手指，取消发送";color:#fff;}
#record.no:after{content:"松开手指，取消发送";background:rgba(200,0,0,.5);}
#record.no{color:#b00;}

#setsoundoper.on{background:#eee;}

#uploader{padding:10px;display:none;}
#uploader:before{left:0;};
#uploader .weui_uploader_bd{width:300%;}
#uploader .weui_uploader_status i.iconfont{font-size:20px;}
#uploader .loding{width:50px;height:50px;position: absolute;left:50%;top:50%;margin-left: -25px;margin-top: -25px;text-align: center;line-height: 50px;overflow: hidden;color:#fff;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#viewimg{position: fixed;top:0;bottom:0;right:0;left:0;background:rgba(0,0,0,.8);z-index: 20;display: none;}
#viewimg img{position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);color: #fff;max-width: 90%;max-height:90%;}
#viewimg i.iconfont{position: fixed;top:5px;right:5px;width:40px;height:40px;line-height: 40px;text-align: center;color:#fff;background: #e00;border-radius: 40px;z-index: 30}


.weui_dialog_bd{text-align: center!important;}


.newtips{background:rgba(180,0,0,.8);color:rgba(255,255,255,.6);height:24px;line-height: 24px;position: fixed;top:0px;left:0;right:0;text-align: center;font-size:12px;display: none;}

.disabled{border-radius: 6px;background: #eee;padding:15px; }

.menubox{z-index: 999;position: absolute;right:0;top:0;}
.menubox ul{position: relative;top:40px;display: none;}
.menubox li{list-style-type: none;padding:0 15px;background:#f66;height:36px;line-height: 36px;font-size: 16px;}

@-webkit-keyframes spin {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}
@-moz-keyframes spin {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}
@-o-keyframes spin {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}
@keyframes spin {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}

@-webkit-keyframes twinkling{
  0%{opacity:.6;}
  50%{opacity:1;}
  100%{opacity:.6;}
}
@-moz-keyframes twinkling{
  0%{opacity:.6;}
  50%{opacity:1;}
  100%{opacity:.6;}
} 
@-o-keyframes twinkling{
  0%{opacity:.6;}
  50%{opacity:1;}
  100%{opacity:.6;}
} 
@keyframes twinkling{
  0%{opacity:.6;}
  50%{opacity:1;}
  100%{opacity:.6;}
} 