		body{background-color:rgb(240,240,240);}
		li{list-style: none;}
		*{font-family:Microsoft Yahei; }
		.container{padding-bottom: 40px;}
		.fl{float:left;}
		a{color: rgb(51,51,51);}
		.fr{float: right;}
		.dno{display:none;}
		em{background:rgb(255,102,102);font-style:normal;font-size:14px;line-height:15px;padding:2px;color:#fff;}
		input{font-size: 14px;}
		/*底部*/
		.bottomlist{display:flex;display: -ms-flex;display: -moz-flex;display: -webkit-flex;width: 100%;height: 40px;background: #fff;position: fixed;bottom:0; z-index: 100px;border-top:1px solid rgb(230,230,230);font-size:14px;text-align:center;}
		.bottomlist a{flex:1;line-height: 40px;display: block;border-right:1px solid rgb(230,230,230);}
		.bottomlist a:hover{color: rgb(255,102,102);font-weight: bold;}
		.bottomlist .on{color: rgb(255,102,102);font-weight: bold;}
		.bottomlist .last{border:none;}
		
		/*头部1*/		
		.page__tt{width:100%;position: relative;color:#fff;padding-top:20px;text-align: center;}
		.page__tt>div{width:100%;height: 40px;position:absolute;bottom: 0;font-size: 14px;padding-top: 5px; line-height:40px;}
		.page__tt>div>span{margin: 0 10px;color:rgb(230,230,230);}
		.page__tt i{position: absolute;color: #fff}
		.page__title2{width: 90px;height: 90px;border-radius: 50%;background: #fff; text-align:center;margin: 15px auto;}
		.page__title2 img{border-radius:50%;}
		.icon{font-size: 25px ;margin-right:5px;color: #fff;}
		.page__tt .icon{font-size: 25px ;margin-right:5px;color: #fff;}
		/*头部end*/


		span{font-size: 12px;color:rgb(161,161,161);}
		.yuanxing{border-radius: 50%;background:rgb(51,153,204);}
		.fangxing{background:rgb(51,153,204);}		
		.baise{background: white;}


		.page__title{color:#fff;font-size:18px;width:100%;padding-top:80px;text-align: center;}

		.bottomAns{display:flex;display: -ms-flex;display: -moz-flex;display: -webkit-flex;width: 95%;height: 40px;background: #fff;position: fixed;bottom:0; padding: 0 10px;z-index: 100px;border-top:1px solid rgb(230,230,230);}
    	.bottomAns a{flex:1;line-height: 40px;display: block;}
		.xuanzuan{animation: 6s linear 0s normal none infinite rotate;-webkit-animation:6s linear 0s normal none infinite rotate;position:absolute;}
		@-webkit-keyframes rotate{
			from{-webkit-transform:rotate(0deg)}
			to{-webkit-transform:rotate(360deg)}
			}
			@-moz-keyframes rotate{
			from{-moz-transform:rotate(0deg)}
			to{-moz-transform:rotate(360deg)}
			}
			@-ms-keyframes rotate{
			from{-ms-transform:rotate(0deg)}
			to{-ms-transform:rotate(360deg)}
			}
			@-o-keyframes rotate{
			from{-o-transform:rotate(0deg)}
			to{-o-transform:rotate(360deg)}
		}
		.calendarWarp input{border:0;}
		.weui_cell_bd  .calendarWarp i.iconfont{display:none;}
		.page__title2 img{max-width:100px;max-height:100px;}
		.weui_label{color:#666;font-size:16px;width:120px;}
		.weui_cell select{width:100%}
		