*{margin:0;padding:0}
body,html {
  font:12px 'Microsoft YaHei','宋体','MicrosoftJhengHei',STHeiti,'LiHei Pro Medium';color:#000;}
}
ul{list-style:none;list-style-image:none}
ul li{list-style:none;}
a{text-decoration:none;}
.posre{position:relative;}
.posab{position:absolute;}
.fl{float:left;}
.fr{float:right;}
.center{text-align:center;}
.weight700{font-weight:700;}
.mainwidth{
  width:1120px;
  margin:0 auto;
  text-align:center;
}
.top{
  height:36px;
  font-weight:400;
  color:rgba(255,255,255,0.8);
  color:#fff;
  background:inherit;
  background-color:#009966;
}
.top ul{line-height:36px;height:36px; filter:Alpha(opacity=80);opacity:0.8;}
.top-r li{float:right;}
.top-l li{float:left;margin:0 2px;}
.top-r  li{
  width:76px;
}
.top ul  li a{
	
  color:rgba(255,255,255,0.8);
  color:#fff;
}
.top-r  .on{
  text-align:center;
  background:inherit;
  background-color:#ff9933;
}
.top-r  .top-m:hover{
  background-color:#ffcc66;
}
.top-r .weixin{
  position:relative;
  top:10px;
  width:40px;
  height:17px;
  line-height:0;
}
.top-r .weibo{
  position:relative;
  top:10px;
  width:40px;
  height:17px;
  line-height:0;
}
.top-r .mphone{
  position:relative;
  top:8px;
  width:40px;
  height:19px;	
  line-height:0;
}
.main{
  height:420px;
  background:inherit;
  background-color:#1f2630;
}
.banner-img{
  top:15px;
  left:0px;
}
.banner-font{
  top:295px;
  left:149px;
  width:394px;
  height:86px;
  font-size:36px;
  border:1px solid #a88d57;
}
.banner-font p{
  color:#a88d57;
  line-height:70px;
}
.banner-font2{
  top:365px;
  left:269px;
  width:154px;
  height:35px;
  font-size:18px;
  background-color:#8f794b;
}
.banner-font2 p{
  color:#1B222C;
  line-height:35px;
}
.tb{
  left:760px;
  top:165px;
  width:358px;
  height:433px;
  text-align:left;  
  background:inherit;
  background-color:#038acb;
  border-radius:8px;
  -moz-box-shadow:0px 0px 0px rgab(51,51,51,0.349);
  -webkit-box-shadow:0px 0px 0px rgab(51,51,51,0.349);
  box-shadow:0px 0px 0px rgab(51,51,51,0.349);
}
.reg-tb{
  height:500px;
}
.reg-tb .from .sumreg{
  margin-top:33px;
}
.tb img{
  margin-top:25px;
  margin-bottom:15px;
}
.from .yzm{
  width:125px;
  height:41px;
  
}
.from .yzm-2{
	height:51px;
}
.from input{
  width:260px;
  height:41px;
  background:inherit;
  background-color:#fff;
  opacity:0.8;
  margin-left:43px;
  margin-top:10px;
  border:none;
  padding-left:12px;
}

.from .yan{
  margin-top:10px;
  margin-left:10px;
}
.from .yan img{
  margin:0;
}

.from .submit{
  width:272px;
  margin-top:20px;
  background:inherit;
  background-color:#ff9933;
  border-radius:5px;
  font-size:15px;
  font-weight:700;
  font-family:"微软雅黑 Bold","微软雅黑";
  color:#fff;
  opacity:1;
}
.from .sumreg{
  margin-top:15px;
}
.from .remember{
  width:272px;
  margin:0 auto;
  padding-top:20px;
}
.from .remember a{
  color:#000;
}
.blank{
  height:400px;
  background-color:#f7f7f7;
}
.footer{
  height:108px;
  background:inherit;
  background-color:#1f2630;
  font-size:18px;
  text-align:left;
  
}
.footer a{
  color:#fff;
}
.erweima{
  width:84px;
  height:84px;
  margin-top:12px;
}
.erweima img{
  width:84px;
  height:84px;
}
.footmenu{
  margin-top:20px;
  height:32px;
  line-height:32px;
  opacity:0.5;
  color:#fff;
}
.footmenu  li{
  float:left;
  font-size:15px;
  margin:0 6px;
}
.footmenu  .last{
  font-size:12px;
  margin-left:50px;
}
.ba{
  font-size:12px;
  text-align:left;
  color:#fff;
  margin-left:6px;
  opacity:0.5;
  width:365px;
  border-top:1px solid #fff;
  margin-top:10px;
  padding-top:10px;
}
#isRed{
  width:15px;
  height:15px;
  box-sizing:border-box;
  padding:0;
}
.checkbox{
  height:25px;
  line-height:15px;
}
.pass{
  width:694px;
}
.pass .banner-font{
  top:100px;
}
.pass .banner-font2{
  top:170px;
}
.forgetpwd{
  position:relative;
  top:230px;
  width:650px;
  margin:0 auto;
  text-align:center;
}
.msaps{
	margin-left:10px;
}
.form-group{
  height:39px;
}
.form-group label{
  line-height:39px;
}
.mail-box{
  background-color:#fff;
  border:1px solid #e7eaec;
  border-top:0;
  padding:0;
  margin-bottom:20px;
} 
.mail-body{
 border-top:1px solid #e7eaec;
 padding:20px;
}
.panel-title{
  font-size:16px;
}
.nav-tabs{
  border-bottom:1px solid #ddd;
}
.nav{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.nav.nav-tabs li{
  background:none;
  border:none;
}
.nav-tabs>li{
  float:left;
  margin-bottom:-1px;
}
.nav>li{
  position:relative;
  display:block;
}
.nav-tabs > li > a{
  color:#A7B1C2;
  font-weight:600;
  padding:10px 20px 10px 25px;
}
.form-control{
  margin-left:0;
  margin-top:0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background-color:#18a689;
  border-color:#18a689;
  color:#FFFFFF;
}
#timecheck, #Mail{
  float:left;
}
.btn-primary{
  background-color:#1ab394;
  border-color:#1ab394;
  color:#FFFFFF;
}
.lockscreen.middle-box{margin-top:80px;width:600px;padding-top:0px; background-color:#fff;max-width:800px;border-radius:8px;}
.middle-box{}
.control-label{float:left;line-height:39px;}
#Mail{margin-left:15px;}

.form-group .submit,.form-group  .reset{float:left;margin:0 15px;}
.m-b-none{float:left;line-height:32px;}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white{
  border:1px solid #d2d2d2;
  color:inherit;
}
.btn-white{
  background:#fff;
  border:1px solid #e7eaec;
}
.warn{
  color:#fff;
  left:45px;
  margin-left:45px;
  margin-top:10px;
}
.reg-tb .warn{
  color:#fff;
  left:45px;
  top:370px;
}
.top-r li .downwwm{
  display:none;
  width:120px;
  height:120px;
  background-color:blue;
  right:0px;
}
.top-r li:hover .downwwm{
   display:block;
}
.top-r li .top26{
  top:26px;
}
.top-r li .top28{
  top:28px;
}


.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}
.modal-dialog {
  z-index: 1200;
}
.modal-body {
  padding: 20px 30px 30px 30px;
}
.inmodal .modal-body {
  background: #f8fafb;
}
.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
}
.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.inmodal .modal-title {
  font-size: 26px;
}
.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}
.modal-footer {
  margin-top: 0;
}
body.stop-scrolling {
  height: 100%;
  overflow: hidden; }
.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done #page-wrapper,
.pace-done .footer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.pace-done .nav-header .profile-element
{
  width:220px;
}
.pace-done .nav-header {
  transition: all 0.5s;
}
.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }
  @media all and (max-width: 540px) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }
  .sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
  .sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal; }
  .sweet-alert fieldset {
    border: none;
    position: relative; }
  .sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s; }
    .sweet-alert .sa-error-container.show {
      padding: 10px 0;
      max-height: 100px;
      webkit-transition: padding 0.2s, max-height 0.2s;
      transition: padding 0.25s, max-height 0.25s; }
    .sweet-alert .sa-error-container .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ea7d7d;
      color: white;
      line-height: 24px;
      text-align: center;
      margin-right: 3px; }
    .sweet-alert .sa-error-container p {
      display: inline-block; }
  .sweet-alert .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
      content: "";
      width: 20px;
      height: 6px;
      background-color: #f06e57;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -9px; }
    .sweet-alert .sa-input-error::before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .sweet-alert .sa-input-error::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .sweet-alert .sa-input-error.show {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
  .sweet-alert input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .sweet-alert input:focus {
      outline: none;
      box-shadow: 0px 0px 3px #c4e6f5;
      border: 1px solid #b4dbed; }
      .sweet-alert input:focus::-moz-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus:-ms-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus::-webkit-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
    .sweet-alert input::-moz-placeholder {
      color: #bdbdbd; }
    .sweet-alert input:-ms-input-placeholder {
      color: #bdbdbd; }
    .sweet-alert input::-webkit-input-placeholder {
      color: #bdbdbd; }
  .sweet-alert.show-input input {
    display: block; }
  .sweet-alert button {
    background-color: #AEDEF4;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    .sweet-alert button:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .sweet-alert button:hover {
      background-color: #a1d9f2; }
    .sweet-alert button:active {
      background-color: #81ccee; }
    .sweet-alert button.cancel {
      background-color: #D0D0D0; }
      .sweet-alert button.cancel:hover {
        background-color: #c8c8c8; }
      .sweet-alert button.cancel:active {
        background-color: #b6b6b6; }
      .sweet-alert button.cancel:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
    .sweet-alert button::-moz-focus-inner {
      border: 0; }
  .sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
  .sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px; }
  .sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; }
    .sweet-alert .sa-icon.sa-error {
      border-color: #F27474; }
      .sweet-alert .sa-icon.sa-error .sa-x-mark {
        position: relative;
        display: block; }
      .sweet-alert .sa-icon.sa-error .sa-line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px; }
    .sweet-alert .sa-icon.sa-warning {
      border-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86; }
    .sweet-alert .sa-icon.sa-info {
      border-color: #C9DAE1; }
      .sweet-alert .sa-icon.sa-info::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #C9DAE1; }
      .sweet-alert .sa-icon.sa-info::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: #C9DAE1; }
    .sweet-alert .sa-icon.sa-success {
      border-color: #A5DC86; }
      .sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
        content: '';
        -webkit-border-radius: 40px;
        border-radius: 40px;
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .sweet-alert .sa-icon.sa-success::before {
        -webkit-border-radius: 120px 0 0 120px;
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px; }
      .sweet-alert .sa-icon.sa-success::after {
        -webkit-border-radius: 0 120px 120px 0;
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        transform-origin: 0px 60px; }
      .sweet-alert .sa-icon.sa-success .sa-placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        -webkit-border-radius: 40px;
        border-radius: 40px;
        border-radius: 50%;
        box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2; }
      .sweet-alert .sa-icon.sa-success .sa-fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .sweet-alert .sa-icon.sa-success .sa-line {
        height: 5px;
        background-color: #A5DC86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2; }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .sweet-alert .sa-icon.sa-custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }


.un{
	display:none;
}

.on{
	display:block;
}




















